body 
    {margin: 0px;
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

html
    {scroll-behavior: smooth;
}

h1
    {font-size: 300%;
    margin: 50px 0;
    text-shadow: 4px 4px 4px black;
}
h2
    {font-size: 140%;
    font-weight: bold;}
h4
    {font-size: 80%;}

a   
    {text-decoration: none;
    color: rgb(238, 182, 143);}

a:hover
    {color: chocolate;
}

li
    {display: inline-flex;
    margin: 0px 5px;
}

.btn   
    {text-decoration: none;
    color: white;
    background: rgb(70, 39, 14);
    padding: 10px;
    transition: 1s;
    font-size: 80%;
}

.btn:hover
    {background: rgb(131, 67, 8);
    color: white;
}

.picture {
    background: none;
    transition: 2s;
}

.picture:hover {
    background: none;
    transform: scale(1.2);
}

header 
    {background: rgba(78, 47, 22, 0.349);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section
    {margin: 0 5% 40px;
}

.works
    {display: flex;
    flex-wrap: wrap;
    justify-content: center;}
.works__items
    {max-width: 280px; margin-bottom: 20px;}
.works__container
    {position: relative; padding: 10px;}
.works__container:hover
    {position: relative; 
    
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;}
.works__img
    {max-width: 250px;}
.works__item
    {margin-bottom: 15px;}
.works__btn
    {padding: 5px 50px;}

footer {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.205);
}
#footer_logo {
    margin-bottom: 20px;
}