body 
    {margin: 0px;
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

html
    {scroll-behavior: smooth;
}

h1
    {font-size: 300%;
    margin: 50px 0;
    text-shadow: 4px 4px 4px black;
}
h2
    {font-size: 140%;
    font-weight: bold;}
h3 {
    line-height: 120%;}
h4
    {font-size: 80%;}

a   
    {text-decoration: none;
    color: rgb(238, 182, 143);}

a:hover
    {color: chocolate;
}

.hidden {display: none;}

/* Кнопка */
.btn   
    {text-decoration: none;
    color: white;
    background: rgb(70, 39, 14);
    padding: 10px;
    transition: 0.7s;
    font-size: 80%;}
.btn:hover
    {background: rgb(131, 67, 8);
    color: white;}

/* Логотип */
.header__picture {
    background: none;
    transition: 2s;}
.header__picture:hover {
    background: none;
    transform: scale(1.2);}

/* Шапка */
.header 
    {background: rgba(78, 47, 22, 0.349);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header.scroll {
    height: 50px;
    position: fixed; display: flex;
    left: 0; right: 0; top: 0;
    z-index: 11;
    background: rgb(43, 23, 7);
    transition: 2s;
}
.header__picture.scroll {
    transform: scale(0.5);
    transition: 0.5s;
}
.nav-li
    {display: inline-flex;
    margin: 0px 5px;
}
.nav-hidden {
    display: none;
    margin-bottom: 6px;
}
.nav-hiddenboss {
    display: none;
}
label {
    visibility: hidden;
}
.head-btn   
    {text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 20px;
    transition: 0.7s;
    font-size: 80%;}
.head-btn:hover
    {background: rgb(131, 67, 8);
    color: white;}
#about {height: 1px;} 
/* Блок */
section
    {margin: 0 5% 40px;}

/* Блок "Игрушки в наличии" */
#works {height: 1px;}
.works
    {display: flex;
    justify-content: center;
    min-width: 0;
    position: relative;
    padding: 0px 60px;
}
.works__items
    {max-width: 280px; margin-bottom: 20px;
    overflow-x: hidden;}
.works__container
    {padding: 20px;}
.works__container:hover
    {border-radius: 10px;
    box-shadow: inset 2px 2px 2px black;}
.works__img
    {max-width: 220px;
    justify-self: center;}
.works__item
    {margin-bottom: 20px;}
.works__btn
    {padding: 5px 50px;}
.works .slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;}

/* Слайдер */
.slick-list {overflow: hidden;}
.slick-track {display: flex; align-items: flex-start;}
.slick-arrow.slick-prev {
    left: -30px;
    background:url('images/buttons/left.svg') 0 0 / 100% no-repeat;}
.slick-arrow.slick-prev:hover {
    background: url(images/buttons/lefthover.svg) 0 0 / 100% no-repeat;}
.slick-arrow.slick-prev.slick-disabled {
    opacity: 10%;}
.slick-arrow.slick-next {
    right: -30px;
    background: url('images/buttons/right.svg') 0 0 / 100% no-repeat;}
.slick-arrow.slick-next:hover {
    background: url(images/buttons/righthover.svg) 0 0 / 100% no-repeat;}
.slick-arrow.slick-next.slick-disabled {
    opacity: 10%;}

footer {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.205);
}
#footer_logo {
    margin-bottom: 20px;
}

/* Скролл */
::-webkit-scrollbar {background: none; width: 10px;}
::-webkit-scrollbar-thumb {
    background: chocolate;
    border-radius: 10px;}

/* Блок выставок */
#galery {height: 1px;}
.galery { 
    min-width: 0;
    position: relative;
}
.galery__items { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    padding-left: 1%;
    padding-right: 1.5%;
    column-gap: 20px;
}
.galery__img {
    width: 100%;
}
.galery__photo {
    grid-area: 1 / 1 / 4 / 2;
    justify-self: center;
    align-self: center;
    max-width: 300px;

}
.galery__name {
    grid-area: 1 / 2 / 2 / 3;
}
.galery__desc {
    grid-area: 2 / 2 / 3 / 3;
    max-height: 280px;
    overflow: auto;
    background-color: rgb(39, 19, 0);
    border-radius: 15px;
    padding: 0 20px;
}
.galery__btn {
    margin-top: 10px;
    grid-area: 3 / 2 / 4 / 3;
}
.galery .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;
}

/* Блок мастер-классов */
#teach {
    height: 1px;
}
.teach { 
    min-width: 0;
    position: relative;

}
.teach__items { 
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding-left: 1%;
    padding-right: 1.5%;
    margin-top: 50px;
    column-gap: 40px;
    align-items: center;
}

.teach__video {
    grid-area: 1 / 1 / 4 / 2;
    max-width: 40vh;
    min-width: 20vh;
    justify-self: center;
}

.video_image1 {
    transition: 0.5s;
    width: 100%;
}
.video_image1:hover {
    transform: scale(105%);
    border: 5px solid black;
}
.teach__name {
    grid-area: 1 / 2 / 2 / 3;
}
.teach__desc {
    grid-area: 2 / 2 / 3 / 3;
    max-height: 180px;
    overflow: auto;
    background-color: rgb(39, 19, 0);
    border-radius: 15px;
    padding: 0 20px;
}
.teach__btn {
    margin-top: 10px;
    grid-area: 3 / 2 / 4 / 3;
}
.teach .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;
}

/* Отзывы */
#otzivi {height: 1px;}
.otzivi
    {display: flex;
    justify-content: center;
    min-width: 0;
    position: relative;
    padding: 0px 60px;}
.otzivi__items
    {max-width: 280px; margin-bottom: 20px;
    overflow-x: hidden;}
.otzivi__container
    {padding: 20px;}
.otzivi__container:hover
    {border-radius: 10px;
    box-shadow: inset 2px 2px 2px black;}
.otzivi__img
    {max-width: 60px; border-radius: 100%;}
.otzivi__item
    {margin-bottom: 15px;
    max-height: 200px;
    overflow: hidden;}
.otzivi__btn
    {padding: 5px 50px;
    }
.otzivi .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;
}
.item__duo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;}

/* Блок обратной связи */
#contact {
    height: 1px;
}
.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.contact-btn   {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    min-width: 300px;
    border: solid rgb(131, 67, 8);
    border-radius: 100px;
    transition: 0.7s;
    height: 50px;
}
.contact-btn:hover
    {background: rgb(131, 67, 8);
    color: white;}
.contact-icon {
    min-width: 40px;
    margin-right: 20px;
}



/* 1000 пикселей */
@media (max-width: 1000px) {
    .nav-li {
        display: none;}
    .header__picture {
        transform: scale(0.5);}
    .header {
        height: 50px;
        position: relative;}
    .nav-hidden {
        display: block;}
    .nav-hiddenboss {
        display: inline-block;
        position: absolute;}
    label {
        visibility: visible; 
    }
}

label {
    display: block;
    padding: 0.5em;
    font-size: 100%;
    color: #f5f5f5;
    z-index: 20;
}
label:hover {
	color: chocolate;
}
.accordeon .panel {
    height: auto;
    display: none;
    opacity: 0;
    margin-top: 275px;
    background:rgb(43, 22, 2);
    width: 90vh;
}
.accordeon input[type="radio"], .accordeon input[type="checkbox"] {
    display: none;}
.accordeon input[type="radio"]:checked + .panel, .accordeon input[type="checkbox"]:checked + .panel {
        height: auto;
        display: block;
        opacity: 1;
        padding: 1.5em;
    }

@media (max-width: 600px) {
    .galery__items { 
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 5fr 1fr;
        padding-left: 1%;
        padding-right: 1.5%;
        column-gap: 20px;
    }
    .galery__desc {
        grid-area: 2 / 2 / 3 / 3;
        max-height: 180px;
        overflow: auto;
        background-color: rgb(39, 19, 0);
        border-radius: 15px;
        padding: 0 20px;
        margin: 5px 0;
    }
    .teach__items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .teach__btn {
        padding: 10px 0;
    }
    .slick-arrow {
        padding-top: 100px;
    }
}