body 
    {margin: 0px;
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

html
    {scroll-behavior: smooth;
}

h1
    {font-size: 300%;
    margin: 50px 0;
    text-shadow: 4px 4px 4px black;
}
h2
    {font-size: 140%;
    font-weight: bold;}
h3 {
    line-height: 120%;}
h4
    {font-size: 80%;}

a   
    {text-decoration: none;
    color: rgb(238, 182, 143);}

a:hover
    {color: chocolate;
}

li
    {display: inline-flex;
    margin: 0px 5px;
}
/* Кнопка */
.btn   
    {text-decoration: none;
    color: white;
    background: rgb(70, 39, 14);
    padding: 10px;
    transition: 0.7s;
    font-size: 80%;}
.btn:hover
    {background: rgb(131, 67, 8);
    color: white;}

/* Логотип */
.picture {
    background: none;
    transition: 2s;}
.picture:hover {
    background: none;
    transform: scale(1.2);}

/* Шапка */
header 
    {background: rgba(78, 47, 22, 0.349);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Блок */
section
    {margin: 0 5% 40px;}

/* Блок "Игрушки в наличии" */
.works
    {display: flex;
    justify-content: center;
    min-width: 0;
    position: relative;
    padding: 0px 60px;}
.works__items
    {max-width: 280px; margin-bottom: 20px;}
.works__container
    {position: relative; padding: 20px;}
.works__container:hover
    {border-radius: 10px;
    box-shadow: inset 2px 2px 2px black;}
.works__img
    {max-width: 220px;}
.works__item
    {margin-bottom: 15px;}
.works__btn
    {padding: 5px 50px;}
.works .slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;}

/* Слайдер */
.slick-list {overflow: hidden;}
.slick-track {display: flex; align-items: flex-start;}
.slick-arrow.slick-prev {
    left: 0;
    background:url('images/buttons/left.svg') 0 0 / 100% no-repeat;}
.slick-arrow.slick-next {
    right: 0;
    background: url('images/buttons/right.svg') 0 0 / 100% no-repeat;}

footer {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.205);
}
#footer_logo {
    margin-bottom: 20px;
}

/* Скролл */
::-webkit-scrollbar {background: none; width: 10px;}
::-webkit-scrollbar-thumb {
    background: chocolate;
    border-radius: 10px;}