body 
    {margin: 0px;
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

html
    {scroll-behavior: smooth;
}

h1
    {font-size: 300%;
    margin: 50px 0;
    text-shadow: 4px 4px 4px black;
}
h2
    {font-size: 140%;
    font-weight: bold;}
h3 {
    line-height: 120%;}
h4
    {font-size: 80%;}

a   
    {text-decoration: none;
    color: rgb(238, 182, 143);}

a:hover
    {color: chocolate;
}

li
    {display: inline-flex;
    margin: 0px 5px;
}
/* Кнопка */
.btn   
    {text-decoration: none;
    color: white;
    background: rgb(70, 39, 14);
    padding: 10px;
    transition: 0.7s;
    font-size: 80%;}
.btn:hover
    {background: rgb(131, 67, 8);
    color: white;}

/* Логотип */
.header__picture {
    background: none;
    transition: 2s;}
.header__picture:hover {
    background: none;
    transform: scale(1.2);}

/* Шапка */
.header 
    {background: rgba(78, 47, 22, 0.349);
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.header.scroll {
    height: 50px;
    position: fixed; top: 0; display: flex;
    left: 0; right: 0; 
    z-index: 11;
    background: rgb(43, 23, 7);
    transition: 0.5s;
}
.header__picture.scroll {
    transform: scale(0.5);
    transition: 0.5s;}

#about {height: 1px;} 
/* Блок */
section
    {margin: 0 5% 40px;}

/* Блок "Игрушки в наличии" */
#works {height: 1px;}
.works
    {display: flex;
    justify-content: center;
    min-width: 0;
    position: relative;
    padding: 0px 60px;}
.works__items
    {max-width: 280px; margin-bottom: 20px;}
.works__container
    {padding: 20px;}
.works__container:hover
    {border-radius: 10px;
    box-shadow: inset 2px 2px 2px black;}
.works__img
    {max-width: 220px;}
.works__item
    {margin-bottom: 15px;}
.works__btn
    {padding: 5px 50px;}
.works .slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;}

/* Слайдер */
.slick-list {overflow: hidden;}
.slick-track {display: flex; align-items: flex-start;}
.slick-arrow.slick-prev {
    left: -30px;
    background:url('images/buttons/left.svg') 0 0 / 100% no-repeat;}
.slick-arrow.slick-prev:hover {
    background: url(images/buttons/lefthover.svg) 0 0 / 100% no-repeat;}
.slick-arrow.slick-prev.slick-disabled {
    opacity: 10%;}
.slick-arrow.slick-next {
    right: -30px;
    background: url('images/buttons/right.svg') 0 0 / 100% no-repeat;}
.slick-arrow.slick-next:hover {
    background: url(images/buttons/righthover.svg) 0 0 / 100% no-repeat;}
.slick-arrow.slick-next.slick-disabled {
    opacity: 10%;}

footer {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.205);
}
#footer_logo {
    margin-bottom: 20px;
}

/* Скролл */
::-webkit-scrollbar {background: none; width: 10px;}
::-webkit-scrollbar-thumb {
    background: chocolate;
    border-radius: 10px;}

/* Блок выставок */
#galery {height: 1px;}
.galery { 
    min-width: 0;
    position: relative;
}
.galery__items { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    padding-left: 1%;
    padding-right: 1.5%;
}
.galery__img {
    width: 300px;
}
.galery__photo {
    grid-area: 1 / 1 / 4 / 2;
}
.galery__name {
    grid-area: 1 / 2 / 2 / 3;
}
.galery__desc {
    grid-area: 2 / 2 / 3 / 3;
    max-height: 280px;
    overflow: auto;
    background-color: rgb(39, 19, 0);
    border-radius: 15px;
    padding: 0 20px;
}
.galery__btn {
    margin-top: 10px;
    grid-area: 3 / 2 / 4 / 3;
}
.galery .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;
}

/* Блок мастер-классов */
.teach { 
    min-width: 0;
    position: relative;

}
.teach__items { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding-left: 1%;
    padding-right: 1.5%;
    margin-top: 50px;
    column-gap: 40px;
    align-items: center;
}
.teach__video {
    grid-area: 1 / 1 / 4 / 2;
}
.video_image1 {
    transition: 0.5s;
}
.video_image1:hover {
    transform: scale(105%);
    border: 5px solid black;
}
.teach__name {
    grid-area: 1 / 2 / 2 / 3;
}
.teach__desc {
    grid-area: 2 / 2 / 3 / 3;
    max-height: 180px;
    overflow: auto;
    background-color: rgb(39, 19, 0);
    border-radius: 15px;
    padding: 0 20px;
}
.teach__btn {
    margin-top: 10px;
    grid-area: 3 / 2 / 4 / 3;
}
.teach .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px; height: 75px;
}
