body 
    {margin: 0px;
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

html
    {scroll-behavior: smooth;
}

h1
    {font-size: 300%;
    margin: 50px 0;
    text-shadow: 4px 4px 4px black;
}

a   
    {text-decoration: none;
    color: rgb(238, 182, 143);}

a:hover
    {color: chocolate;
}

li
    {display: inline-flex;
    margin: 0px 5px;
}

.btn   
    {text-decoration: none;
    color: white;
    background: rgb(70, 39, 14);
    padding: 10px;
    transition: 1s;
    font-size: 80%;
}

.btn:hover
    {background: rgb(131, 67, 8);
    color: white;
}

.picture {
    background: none;
    transition: 2s;
}

.picture:hover {
    background: none;
    transform: scale(1.2);
}

header 
    {background: rgba(78, 47, 22, 0.349);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section
    {margin: 0 5% 100px;
}

.items 
    {display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 2fr, 1fr, 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 5%;
    align-items: flex-end;}

.photo { grid-area: 1 / 1 / 5 / 2; }
.text1 { grid-area: 1 / 2 / 2 / 3; }
.text2 { grid-area: 2 / 2 / 3 / 3; }
.text3 { grid-area: 3 / 2 / 4 / 3; }
.text4 { grid-area: 4 / 2 / 5 / 3; }

.itemsrev
    {display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 2fr, 1fr, 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 5%;
    align-items: flex-end;}

.photorev { grid-area: 1 / 2 / 5 / 3; }
.textrev1 { grid-area: 1 / 1 / 2 / 2; }
.textrev2 { grid-area: 2 / 1 / 3 / 2; }
.textrev3 { grid-area: 3 / 1 / 4 / 2; }
.textrev4 { grid-area: 4 / 1 / 5 / 2; }
